<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /cs/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /cs/index.php [L]
</IfModule>